<p>appointment-booking works!</p>
<!--date picker start-->
<div class="form-group " style="margin:10px;">
  <label for="pickdate">Book a date</label>
      <input type="text"
            class="form-control"
            placeholder="Book a date"
            bsDatepicker>
</div>
<!--date picker end-->

<!--pick an hour-->
<div class="form-group" style="margin:10px;">
  <label for="pickHour">Choose the suitable hour</label>
  <input type="text" class="form-control" id="hour" placeholder="hour">
</div>
